/*//////////////////////////////////////////////////////////////////////*/
/*-----------------BIG TABLETS TO LAPTOPS--------1024px to 1200px------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 1200px){
    .mainNav li:last-child{margin-right:15px;}
    .row{width:100%;}
    .mainText{padding:0 20px;}
    .mainText h1{font-size:280%;}
    .mainText a{font-size:87%;}
    .logo{margin-left:1px;}
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SMALL TABLETS TO LARGE TABLETS -------768px to 1023px-------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 1023px){
    .mainText h1{font-size:240%;}
    .mainText a{font-size:80%;}
    .button{padding:10px 25px;}
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------LARGE PHONES TO SMALL TABLETS ------- 481px to 767px-------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 767px){
    
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SMALL PHONES TO LARGE PHONES -------0 to 480px-------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 480px){
    
}

