/*//////////////////////////////////////////////////////////////////////*/
/*-----------------BIG TABLETS TO LAPTOPS--------1024px to 1200px------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 1200px){
    .mainNav li:last-child{margin-right:15px;}
    .row{width:98%;}
    .mainText{padding:0 20px;}
    .mainText h1{font-size:280%;}
    .mainText a{font-size:87%;}
    .logo{margin-left:1px;}
    .greatestShinobi{padding:30px 0;}
    .greatestShinobi h2{font-size:200%;}
    .greatestShinobi h2:after{
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }
    .longText{margin:10px 160px;}
    .longText{font-size:90%;}
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SMALL TABLETS TO LARGE TABLETS -------768px to 1023px-------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 1023px){
    .mainText h1{font-size:240%;}
    .mainText a{font-size:85%;}
    .button{padding:10px 25px;}
    .greatestShinobi h2{font-size:180%;}
    .longText{margin:20px 30px;}
    .longText{font-size:85%;}
    .shinobiDetails h3{font-size:90%;}
    .shinobiDetails ul li {font-size:75%;}
    .shinobiDetails h4{
        font-size:70%;
        font-weight: 400;
    }
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------LARGE PHONES TO SMALL TABLETS ------- 481px to 767px-------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 767px){
    .mainText h1{font-size:220%;}
    .mainText a{font-size:82%;}
    .button{padding:10px 25px;}
    .greatestShinobi h2{font-size:140%;}
    .longText{margin:18px 30px;}
    .longText{font-size:82%;}
    .col{width:100%;}
    .shinobiBox{margin:10px 0;}
    .shinobiBox:first-child{margin-top:20px;}
    .shinobiBox:last-child{margin-bottom:20px};
    .shinobiBox{padding: 0 20px;}
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SMALL PHONES TO LARGE PHONES -------0 to 480px-------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 480px){
    
}

