* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*
body{
    padding:30px;
}
*/
html {
    background-color: #fff;
    color:#383838;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}
.row{
    width:1200px;
    margin:0 auto;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SECTION HEADER-------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
header {
    background: linear-gradient(rgba(70, 70, 70, 0.45),rgba(64, 63, 63, 0.6)) , url(images/headerBackGroundImage.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 95vh;
}
.clipIt{
    clip-path: polygon(0 0,100% 0,100% 80vh,0 100%);   
}
.mainText{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.mainText h1{
    color: #fff;
    font-size:320%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}
/*///////////////////////NAVBAR//////////////////////////////////*/
.logo {
    display: inline-block;
    margin-top:25px;
    padding:2px;
    float:left;
}
.logo img{
    display: inline-block;
    width:100px;
}
.mainNav{
    margin-top:25px;
    display: inline-block;
    float:right;
}
.mainNav ul{list-style: none;}
.mainNav li{
    display: inline-block;
    margin-left:35px;
    font-size:90%;
}
.mainNav li a:link,
.mainNav li a:visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 0 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}
.mainNav li a:hover,
.mainNav li a:active {
    border-bottom: 2px solid #bea146;
}
/*Sticky navigation*/
.sticky{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #efefef;
    box-shadow: 0 2px 2px #adadad;
    z-index: 9999;
    opacity: 0.95;
}
.sticky .logo {
    display: inline-block;
    margin-top:3px;
    padding:2px;
    float:left;
}
.sticky .logo img{width:50px;}
.sticky .mainNav{
    margin-top:0;
    padding: 16px 0 16px 0;
}
.sticky .mainNav li a:link,
.sticky .mainNav li a:visited{
    color: #383838;
    padding: 15px 0 15px 0;
}
.sticky .mainNav li a:hover,
.sticky .mainNav li a:active {border-bottom: 3px solid #bea146;}
/*Mobile navigation*/
.mobileNavIcon,
.mobileNavIconCross {
    float: right;
    margin-top:25px;
    cursor: pointer;
    display: none;
}
.mobileNavIcon ion-icon,
.mobileNavIconCross ion-icon{
    font-size:200%;
    color: #fff;
}
.sticky .mobileNavIcon,
.sticky .mobileNavIconCross {
    margin-top:5px;
}
.show.mobileNavIconCross{display: inline-block;}
.hide.mobileNavIconCross{display: none;}
.show.mobileNavIcon{display: inline-block;}
.hide.mobileNavIcon{display: none;}
/*///////////////////////BUTTONS/////////////////////////////////*/
.mainTextButtons{
    text-align: center;
}
.buttonNaruto{
    float: left;
    margin-left:25px;
}
.buttonSasuke{
    
    float:right;
    margin-right: 25px;
}
.button {
    color:#fff;
    text-decoration: none;
    padding:10px 40px;
    display: inline-block;
    transition: background-color 0.4s, color 0.4s;
}
.buttonFull:link,
.buttonFull:visited {
    position: relative;
    background-color: #bea146;
    border: 2px solid #bea146;
    border-radius: 100px;
    transition: transform 0.2s;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}
.buttonFull:hover{
    background-color: #aa8e36;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.buttonFull:active{
    background-color: #aa8e36;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.buttonFull::after{
    content: "";
    display: inline-block;
    height: 100%;
    width:  100%;
    border-radius: 100px;
    background-color: #bea146;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: transform 0.4s,opacity 0.4s;
}
.buttonFull:hover::after{
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0;
}
.buttonGhost:link,
.buttonGhost:visited{
    position: relative;
    color:  #bea146;
    border: 2px solid #bea146;
    background-color:transparent;
    border-radius: 100px;
    transition: transform 0.2s;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}
.buttonGhost:hover{
    background-color:  #aa8e36;  
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}
.buttonGhost:active {
    background-color:  #aa8e36;  
    color: #fff;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}
.buttonGhost::after{
    content:"";
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #bea146;
    background-color:transparent;
    border-radius: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: transform 0.4s ,opacity 0.4s;
}
.buttonGhost:hover::after{
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0;
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SECTION FINEST SHINOBI------------------------------ */
/*//////////////////////////////////////////////////////////////////////*/
.greatestShinobi {padding: 80px 0;}
.greatestShinobi h2{
    font-size:220%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:20px auto;
    text-align: center;
}
.greatestShinobi h2:after{
    display: block;
    width:1200px;
    background-color:   #bea146;
    content: "";
    height:2px;
    margin-top: 20px;
}
.longText{
    font-size:100%;
    margin:35px 205px;
    text-align: justify;
    justify-content: center;
}
.shinobiBox{
    border-radius: 7px;
    padding:0 10px;
}
.shinobiImg{
    margin:0;
    background-color: #000;
    overflow: hidden;
    margin-bottom: 10px;
}
.shinobiBox img{
    opacity: 0.7;
    width:100%;
    height:auto;
    margin-bottom: -3px;
    transform:scale(1.15);
    transition: opacity 0.5s,transform 0.5s!important;
}
.shinobiBox img:hover{
    opacity: 1!important;
    transform:scale(1.03)!important;
}
.shinobiDetails h3{
    font-size:110%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 15px;
}
.shinobiDetails h3:after{
    display: block;
    width:100%;
    height:2px;
    content: "";
    background-color:  #bea146;
}
.shinobiDetails h4{
    font-size:90%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: left;
}
.shinobiDetails ul{list-style: none;}
.shinobiDetails ul li {
    font-size:85%;
    margin-top:5px;
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SECTION QUOTES------------------------------ */
/*//////////////////////////////////////////////////////////////////////*/
.sectionQuotes{
    background-image: linear-gradient(rgba(46, 46, 46, 0.7),rgba(46, 46, 46, 0.7)),
        url(images/sasukeUchiha%20copy.png);
    background-size: auto;
    background-position: cover;
    background-attachment: fixed;
    color:#fff;
}
.sectionQuotes h2{
    font-size:220%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:30px auto;
    padding-top: 30px;
    text-align: center;
}
.sectionQuotes h2:after{
    display: block;
    width:1200px;
    background-color:   #bea146;
    content: "";
    height:2px;
    margin-top: 20px;
}
.quoteBox {
    padding:10px 10px 70px 10px;
}
.sectionQuotes blockquote:before {
    content: "\201C";
    display: block;
    font-size:400%;
    position:absolute;
    left:-10%;
    top:3%;
    padding-left:5px;
}
.sectionQuotes blockquote{
    position: relative;
    text-align: justify;
    font-style:italic;
    line-height:145%;
}
.sectionQuotes blockquote cite{
    margin-top:20px;
    display: block;
    font-size:85%;
}
.sectionQuotes blockquote cite img{
    width:44px;
    height:auto;
    margin-top:2px;
    vertical-align: middle;
    margin-right:15px;
    border-radius:50%;
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SECTION NATIONS------------------------------ */
/*//////////////////////////////////////////////////////////////////////*/
.sectionNations {
    padding-top:20px;
}
.sectionNations h2{
    font-size:220%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:30px auto;
    padding-top: 30px;
    text-align: center;
}
.sectionNations h2:after{
    display:block;
    content:"";
    background-color: #bea146;
    width:1200px;
    height:2px;
    margin-top:20px;
}
.nations {
    width:94%;
    margin: 10px 3% 30px 3%;
}
.imageVillage {
    background-color: #555;
    overflow: hidden;
}
.imageVillage img{
    width:100%;
    height:auto;
    opacity: 0.6;
    margin-bottom: -3px;
    transform: scale(1.23);
    transition: opacity 0.5s,transform 0.5s;
}
.imageVillage img:hover{
    opacity: 1;
    transform: scale(1.03);
}
.nationInfo h3{
    font-size:110%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: left;
    margin:10px 0 15px 0;
}   
.nationInfo h3:after{
    display: block;
    content:"";
    width:100%;
    height:2px;
    background-color: #bea146;
}
.nationInfo ion-icon{
    vertical-align: middle;
    color: #bea146;
}
.nationInfo ul{
    list-style: none;
}
.nationInfo ul li{
    margin-bottom: 5px;
}
.nationInfo ul li p{
    display: inline-block;
    font-size: 80%;
    line-height: 140%;
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SECTION KONOHA------------------------------ */
/*//////////////////////////////////////////////////////////////////////*/
.sectionKonoha{
    background-color: #dddddd;
    padding-bottom: 60px;
    padding-top:20px;
}
.sectionKonoha .customRow{
    width:85%;
    margin: 0 auto;
}
.sectionKonoha h2{
    font-size:220%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:20px auto;
    padding-top: 20px;
    text-align: center;
}
.sectionKonoha h2:after{
    display: block;
    content: " ";
    background-color: #bea146;
    width:1200px;
    height:2px;
    margin-top:20px;
}
.sectionKonoha .textr p{
    font-size: 85%;
    line-height: 140%;
    text-align: justify;
}
.sectionKonoha .heading{
    padding: 2px 0;
    background-color: #959595;
    text-align: center;
    font-weight: 400;
    font-size: 85%;
}
.sectionKonoha .r{
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}
.sectionKonoha .r:first-of-type{
    border-top: 1px solid #555;
}
.sectionKonoha .vlgImg{
    overflow: hidden;
    background-color: #030303;
}
.sectionKonoha .vlgImg img{
    width:100%;
    height:250px;
    opacity: 0.7;
    transform: scale(1.23);
    transition: opacity 0.5s ,transform 0.5s;
}
.sectionKonoha .vlgImg img:hover{
    opacity: 1;
    transform: scale(1.03);
}
.sectionKonoha .customRow .text {
    font-size: 70%;
    font-weight: 400;
    background-color: #dbdbdb;
}
.sectionKonoha .text div{
    display: inline-block;
    padding-top:2px;
    padding-bottom:2px;
}
.sectionKonoha .logoInTable img{
    width:14px;
    height:14px;
}
#kanji{
    font-size: 73%;
    vertical-align: middle;
}
.sectionKonoha .text div:first-child{
    width:150px;
    border-right:1px solid #555;
    background-color: #bababa
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SECTION FOOTER------------------------------ */
/*//////////////////////////////////////////////////////////////////////*/
footer{
    background: #333333;
    background-size:auto;
    background-position: top;
    background-attachment: fixed;
}
.footerNav{
    float:left;
}
.footerSocial {
    float:right;
}
.footerBox ul{
    padding:10px 0; 
    list-style: none;
}
.footerBox ul li{
    display: inline-block;
}
.footerBox ul li a:link,
.footerBox ul li a:visited{
    color: #bea146;
    text-decoration: none;
    padding:10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s,color 0.5s;
}
.footerBox ul li a:hover,
.footerBox ul li a:active{
    color: #aa8e36;
    border-bottom: 2px solid #aa8e36;
}
.copyRight{
    font-size:75%;
    text-align: center;
    padding-top:10px;
    padding-bottom:20px;
    color:#838383;
}

/*//////////////////////////////////////////////////////////////////////*/
/*-----------------ANIMATIONS------------------------------ */
/*//////////////////////////////////////////////////////////////////////*/
.js--wayPoint-1,
.js--wayPoint-3,{
    opacity: 0;
}
.js--wayPoint-1.animate__animated,
.js--wayPoint-3.animate__animated{
    opacity: 1;
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}