* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
    color:#383838;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}
.row {
    width:1140px;
    margin: 0 auto;
}
/*--------------------*/
/* HEADER SECTION */
/*--------------------*/
header {
    background: linear-gradient(rgba(70, 70, 70, 0.45),rgba(64, 63, 63, 0.6)) , url(images/headerBackGroundImage.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.mainText{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.mainText h1{
    color: #fff;
    font-size:320%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*///////////////////////NAVBAR//////////////////////////////////*/
.logo {
    display: inline-block;
    margin-top:25px;
    padding:2px;
    float:left;
}
.logo img{
    display: inline-block;
    width:100px;
}
.mainNav{
    margin-top:25px;
    display: inline-block;
    float:right;
}
.mainNav ul{
    list-style: none;
}
.mainNav li{
    display: inline-block;
    margin-left:35px;
    font-size:90%;
}
.mainNav li a:link,
.mainNav li a:visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 0 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}
.mainNav li a:hover,
.mainNav li a:active {
    border-bottom: 2px solid #bea146;
}
/*///////////////////////BUTTONS/////////////////////////////////*/
.mainTextButtons{
    text-align: center;
}
.buttonNaruto{
    float: left;
    margin-left:25px;
}
.buttonSasuke{
    float:right;
    margin-right: 25px;
}
.button {
    color:#fff;
    text-decoration: none;
    padding:10px 40px;
    display: inline-block;
    transition: background-color 0.4s, color 0.4s;
}
.buttonFull:link,
.buttonFull:visited {
    background-color: #bea146;
    border: 2px solid #bea146;
    border-radius: 100px;

}
.buttonFull:hover,
.buttonFUll:active {
    background-color: #aa8e36;
}
.buttonGhost:link,
.buttonGhost:visited{
    color:  #bea146;
    border: 2px solid #bea146;
    background-color:transparent;
    border-radius: 100px;
}
.buttonGhost:hover,
.buttonGhost:active {
    background-color:  #aa8e36;  
    color: #fff;
}
/*///////////////////////BUTTONS/////////////////////////////////*/